.main-container {
    width: 100%;
    height: 100vh;
    background-color: #004DB3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;  */
}

.tech-time {
    width: 70px;
}

p {
    font-family: 'Satoshi', sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    color: #A2A2A2;
}


.navbar {
    /* background-color: darkorchid;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 12%;
    padding-left: 70px;
    padding-right: 70px;
    color: #fff;

}

.nav-logo {
    font-size: 20px;
}

.nav-content {
    /* background-color: darkturquoise;  */
    width: 42%;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-btn {
    background-color: #fff;
    height: 42px;
    width: 118px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    color: #004DB3;
    font-size: 1rem;
    font-weight: 550;
}

.hero-container {
    width: 100%;
    height: 100vh;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-imagebox {
    width: 50%;
    height: 100%;
    /* background-color: black;  */
    display: flex;
    justify-content: center;

}

.hero-image {
    width: 80%;
    height: auto;
    /* background-color: #fff; */
}

.hero-textbox {
    width: 50%;
    height: 70%;
    background-color: #004DB3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hero-header {
    line-height: 1;
    width: 550px;
    font-size: 50px;
    background-color: #004db3;
}

.hero-text {
    width: 403px;
    height: 45px;
    font-size: 15px;
    background-color: #0043;
}

.hero-btn {
    width: 314px;
    /* background-color: darkred; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

h1 {
    color: #000F24;
    font-size: 40px;
    /* line-height: 60px; */
    /* font-size: 38px; */
    font-weight: 700;
    font-family: 'Clash Display', sans-serif;
    text-transform: none;
}

h2 {
    /* background-color: red; */
    font-family: 'Clash Display', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-transform: capitalize;
}

h4 {
    color: #000000;
}

.avatar-group {
    width: 320px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* background-color: #eeeeee; */
    /* direction: rtl; */
}

.avatar:hover {
    transform: translate(-10px);
}

.hidden-avatar {
    /* background-color: red; */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
    margin-left: 3px;

}

.avatar {
    margin-left: -20px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
}

.now {
    height: 42px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid#fff;
    color: #FFF;
    font-size: 1rem;
    font-weight: 550;
}

.hero-footer {
    background-color: #CCDBF0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.group-icon {
    color: #000F24;
    width: 100px;
    height: auto;

}

.template-text {
    width: 90%;
}

.sub-footer {
    /* font-size: 2px; */
    color: #000F24;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: darkorange; */
}

.inner-container {
    width: 90%;
    height: 80vh;
    /* background-color: #eeeeee; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.aboutPage {
    padding-right: 70px;
    padding-left: 70px;
    width: 100%;
    height: 90vh;
    background-color: #F8F9FC;
    /* display: block; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.class {
    background-color: #FFFFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 50px;
    /* padding: 20px 56px 20px 24px;
       gap: 10px; */
    gap: 10px;
}

.class-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    /* background-color: red; */
    width: 442px;
    height: 66px;
}

.class-section {
    /* background-color: chartreuse; */
    width: 450px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 0px; */
    /* gap: 24px; */
}

.firstVideoImage {
    width: 50%;
    /* background-color: black; */
    position: absolute;
    bottom: 0;
    left: 30px;
    z-index: 1;
}

.videoImage2 {
    width: 70%;
    position: absolute;
    top: 50px;
    right: 0;

}

.view-btn {
    background-color: #004db3;
    height: 46px;
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 550;
}

.first-half-container {
    width: 48%;
    height: 60%;
    /* background-color: deepskyblue; */
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

.second-half-container {
    /* background-color: antiquewhite; */
    position: relative;
    width: 50%;
    height: 80%;
}

.about-template {
    width: 100%;
    height: 100vh;
    background-color: #F8F9FC;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-template {
    width: 90%;
    height: 100vh;
    /* background-color: #eeeeee; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.videoImage3 {
    width: 100%;
}

.firstContent {
    /* background-color: indianred; */
    width: 46%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.secondContent {
    /* background-color: darkolivegreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 14px;
    width: 50%;
    height: 90vh;
}


.card-body {

    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 267px;
    height: 260px;
    border-radius: 4px;
    padding: 20px;

}

.card-icon {
    background-color: #004DB3;
    /* width: 30%; */
}

.frame-icon {
    width: 35px;
}

.flex-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
}



/* COURSES SECTION */
.courses-section {
    width: 100%;
    height: 190vh;
    background-color: palegreen; 
    background-color: #F8F9FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}

.text {
    /* width: 50%;
    height: 10%; */
    background-color: brown;


}

.header {
    text-align: center;
    background-color: pink;
    width: 60%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.courses-subheader {
    /* background-color: yellow; */
    font-weight: 800;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    /* gap: 10px; */
}

.courses-body {
    width: 380px;
    height: 440px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
align-items: center;

}
.courses-path{

 color: #004DB3; 

font-weight: 600;
width: 95px;
text-align: center;
background: rgba(30, 93, 206, 0.2);
border-radius: 16px;
}

.courses-prize{
    color: #004DB3;
    font-weight: 600;
    
}

.courses-info{
width:95%;
height: 160px;
/* background-color: chartreuse;  */
display: flex;
flex-direction: column;
justify-content: space-between;

}

.courses-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseImg {
    width: 95%;
    height: auto;
}

.courses-template {
    width: 90%;
    height: 190vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    /* background-color: palevioletred; */
}

.course-btn {
    background-color: #004db3;
    height: 50px;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 550;
    overflow: hidden;
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;


}

.tag {
    /* background-color: crimson; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 95%; */
}


.testimonal-section {
    background-color: deeppink;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.testimonal-text {
    background-color: #fff;
    width: 80%;
    padding: 5px;
    font-size: 5px;
    /* text-align: center; */
}

.testimony-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    /* width: 100rem;
    padding: 4rem 1rem; */
    width: 100%;
    height: 80vh;


}

.testimonal-body {
    width: 20%;
    height: 50vh;
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.slider-controler .slider-arrow {
    background-color: black;
    width: 1.5;
    height: 1.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
}

.slider-controler .slider-arrow::after {
    content: '';
}

.swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
}





.community-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    gap: 20px;
    align-items: center;
    background-color: #004DB3;
}

.first-community-layout {
    width: 50vw;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.second-community-layout {
    width: 50vw;
    height: 60vh;
    position: relative;
    background-color: burlywood;
    /* display: flex;
  justify-content: center;
  align-items: center; */
}

.question-container {
    width: 100%;
    height: 120vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* gap:50px;  */
    /* padding: 0px; */
}



.question-item {
    width: 1037px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    gap: 10px;
}

.answer-part {

    background-color: #f1f1f1;
    line-height: 1.2;
}

.question-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #004DB3; */
    font-size: 20px;

}


.question-description {
    width: 1037px;
    /* height: 438px;  */
    left: 345px;
    top: 295px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.toggle-btn {
    font-size: 20px;
    width: 50px;
    border: none;
    background-color: inherit;
}



.footer-container {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000F24;
}

.footer-bottom {
    width: 90%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000F24;
    color: #FFF;
    line-height: 1.7;
}

.footer-title {
    font-size: 18px;
    font-weight: 800;
}

/* .footer-segment {
    background-color: cornflowerblue;
     width: 50%;
     display: flex;
    flex-direction:column;
     justify-content: space-between;
    align-items: center; 
} */
.social-media-icon {
    width: 150px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mediaIcon {
    width: 20px;
}

h3 {

    padding-bottom: 5px;
}

.footer-text {
    width: 250px;
    line-height: 1;
    margin-bottom: 5px;
    /* background-color: red; */
    font-size: 15px;
}

li {
    list-style: none;
    /* font-size: 18px; */
    text-transform: capitalize;
}



  
  .second-community-layout img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  
  .second-community-layout img:nth-child(1) {
    transform: translate(-20vw) rotate(0deg);
  }
  
  .second-community-layout img:nth-child(2) {
    transform: translate(-19.1vw, -19.1vh) rotate(350deg);
    background-color: white;
  }
  
  .second-community-layout img:nth-child(3) {
    transform: translate(-0vw, -26vh) rotate(10deg);
    background-color: red;
  }
  
  .second-community-layout img:nth-child(4) {
    transform: translate(14.1vw, -26vh) rotate(350deg);
  }
  
  .second-community-layout img:nth-child(5) {
    transform: translate(15vw,-10vh) rotate(12deg);
    background-color: red;
  }
  
  .second-community-layout img:nth-child(6) {
    transform: translate(13vw, 15vh) rotate(10deg);
    background-color: #222224;
  }
  
  .second-community-layout img:nth-child(7) {
    transform: translate(0, 8vh) rotate(370deg);
    background-color: gold;
    
  }
  
  .second-community-layout img:nth-child(8) {
    transform: translate(-12vw, 12vh) rotate(355deg);
    background-color: darkgreen;
  }
  
  .second-community-layout img:nth-child(9) {
    transform: translate(-10vw,-12vh) rotate(0deg);
    background-color: mediumblue;
  }
  
  .second-community-layout img:nth-child(10) {
    transform: translate(4vw,-10vh) rotate(4deg);
    background-color: deeppink;
  }
  