.main-container {
    width: 100%;
    height: 100vh;
    background-color: #004DB3;

    /* align-items: center;  */
}

.tech-time {
    width: 80px;
}
.nav-item {
    
    cursor: pointer;
}

p {
    font-family: 'Satoshi', sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    /* color: #A2A2A2; */
    /* font-size:20px; */

}

.nav-icon {
    display: none;
}

.navbar {
    /* background-color: darkorchid;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 12%;
    padding-left: 70px;
    padding-right: 70px;
    color: #fff;

}
.navbar:active {
    border-bottom: 3px solid #283b8b
  }

.nav-logo {
    font-size: 20px;
}

.nav-menu {
    /* background-color: darkturquoise;  */
    width: 42%;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.close-nav {
    display:flex;
}


.nav-btn {
    background-color: #fff;
    height: 42px;
    width: 118px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    color: #004DB3;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
}

.hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-imagebox {
    width: 48%;
    height: 100%;
    /* background-color: black;    */
    display: flex;
    justify-content: center;
    margin-bottom: 6.1%;
    /* position: relative; */
}

.hero-image {
    max-width: 100%;
    height: auto;
    /* background-color: #fff;    */
}

.hero-textbox {
    width: 50%;
    height: 70%;
    background-color: #004DB3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hero-header {
    line-height: 1;
    width: 550px;
    font-size: 50px;
    color: #000F24;
    /* background-color: #004db3; */
}

.hero-text {
    width: 403px;
    height: 45px;
    font-size: 15px;
    /* background-color: #0043; */
}

.hero-btn {
    width: 314px;
    /* background-color: darkred; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

h1 {
    /* color: #000F24; */
    font-size: 40px;
    /* line-height: 60px; */
    /* font-size: 38px; */
    font-weight: 700;
    font-family: 'Clash Display', sans-serif;
    text-transform: none;

}

h2 {
    /* background-color: red; */
    font-family: 'Clash Display', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-transform: capitalize;
}

/* h4 {
    color: #000000;
} */

.avatar-group {
    width: 320px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* background-color: #eeeeee; */
    /* direction: rtl; */
}

.avatar:hover {
    transform: translate(-10px);
}

.hidden-avatar {
    /* background-color: red; */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
    margin-left: 3px;
    font-weight: 900;
    color: #FFF;

}

.avatar {
    margin-left: -20px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
}

.now {
    height: 42px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid#fff;
    color: #FFF;
    font-size: 1rem;
    font-weight: 550;
}

.hero-footer {
    background-color: #CCDBF0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.group-icon {
    color: #000F24;
    width: 100px;
    height: auto;

}

.template-text {
    width: 90%;
}

.sub-footer {
    /* font-size: 2px; */
    color: #000F24;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: darkorange; */
}

.inner-container {
    width: 90%;
    height: 80vh;
    /* background-color: #eeeeee; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.aboutPage {
    padding-right: 70px;
    padding-left: 70px;
    width: 100%;
    height: 90vh;
    background-color: #F8F9FC;
    /* display: block; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.class {
    background-color: #FFFFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 50px;
    /* padding: 20px 56px 20px 24px;
       gap: 10px; */
    gap: 10px;
}

.class-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    /* background-color: red; */
    width: 442px;
    height: 66px;
}

.class-section {
    /* background-color: chartreuse; */
    width: 450px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 0px; */
    /* gap: 24px; */
}


.view-btn {
    background-color: #004db3;
    height: 46px;
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 550;
}

.first-half-container {
    width: 48%;
    height: 60%;
    /* background-color: deepskyblue; */
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

.second-half-container {

    width: 50%;
    height: 80%;
    /* background-color: red; */
}

.enrolled-student {
    max-width: 100%;
    height: auto;
}

.about-template {
    width: 100%;
    height: 100vh;
    background-color: #F8F9FC;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-template {
    width: 90%;
    height: 100vh;
    /* background-color: #eeeeee; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.videoImage3 {
    width: 100%;
}

.firstContent {
    /* background-color: indianred; */
    width: 46%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.secondContent {
    /* background-color: darkolivegreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 14px;
    width: 50%;
    height: 90vh;
}


.card-body {

    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 267px;
    height: 260px;
    border-radius: 4px;
    padding: 20px;

}

.card-icon {
    background-color: #004DB3;
    /* width: 30%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.frame-icon {
    width: 35px;
}

.flex-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
}



/* COURSES SECTION */
.courses-section {
    width: 100%;
    height: 200vh;
    /* background-color: palegreen; */
    background-color: #F8F9FC;
    gap: 10px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    /* margin-bottom: 20px; */

}

.text {
    color: #000F24;
    line-height: 1.5;
}

.header {
    text-align: center;
    /* background-color: pink; */
    width: 60%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.courses-subheader {
    /* background-color: yellow; */
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    /* gap: 10px; */
}

.active-courses {
    font-weight: 900;
    font-size: 1rem;
    line-height: 11px;
}

.active-courses:active {
    padding: 4px 8px;
    height: 19px;
    background: #FFF;
    border-radius: 2px;
    color: #004DB3;
}


.courses-body {
    width: 380px;
    height: 440px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.courses-path {

    color: #004DB3;

    font-weight: 600;
    width: 95px;
    text-align: center;
    background: rgba(30, 93, 206, 0.2);
    border-radius: 16px;
}

.courses-prize {
    color: #004DB3;
    font-weight: 600;

}

.courses-info {
    width: 95%;
    height: 160px;
    /* background-color: chartreuse;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.courses-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseImg {
    width: 100%;
    height: auto;
}


.courses-template {
    width: 88%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
    /* background-color: darkorange; */

}

.course-btn {
    background-color: #004db3;
    height: 50px;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 550;
    overflow: hidden;
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;


}

.tag {
    /* background-color: crimson; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 95%; */
}


.testimonal-section {
    background: #F8F9FC;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 50px;  */
}

.testimonal-text {
    background-color: #fff;
    width: 90%;
    height: 50%;
    /* padding-left: 5px;  */
    font-size: 13px;
    line-height: 1.5;

}


.testimony-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: aqua; */
    gap: 8px;
    padding: 0;
    width: 100%;
    height: 65%;

}

.testimonal-body {
    width: 100%;
    height: 50vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    padding: 0%;
    margin: 0%;

}




.testimonal-info {
    width: 100%;
    height: 10vh;
    padding-left: 20px;
    /* background-color: darkorange; */
}

.testimonal-image {
    width: 50%;
    height: auto;
}


.community-container {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    gap: 20px;
    align-items: center;
    background-color: #004DB3;
    color: #fff;
    padding-top: 5%;
}

.first-community-layout {
    width: 60vw;
    font-size: 100%;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;

}


.question-container {

    width: 100%;
    height: 120vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* gap:50px;  */
    /* padding: 0px; */
}

.community-btn {
    background-color: #fff;
    width: 18%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    color: #004DB3;
    font-size: 1rem;
    font-weight: 550;
    overflow: hidden;
    cursor: pointer;
}



.question-item {
    width: 1037px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    gap: 10px;
}

.answer-part {

    background-color: #f1f1f1;
    line-height: 1.2;
}

.question-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #004DB3; */
    font-size: 20px;

}


.question-description {
    width: 1037px;
    /* height: 438px;  */
    left: 345px;
    top: 295px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.toggle-btn {
    font-size: 20px;
    width: 50px;
    border: none;
    background-color: inherit;
}



.footer-container {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000F24;
}

.footer-bottom {
    width: 90%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000F24;
    color: #FFF;
    line-height: 1.7;
}

.footer-title {
    font-size: 18px;
    font-weight: 800;
}

/* .footer-segment {
    background-color: cornflowerblue;
     width: 50%;
     display: flex;
    flex-direction:column;
     justify-content: space-between;
    align-items: center; 
} */
.social-media-icon {
    width: 150px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mediaIcon {
    width: 20px;
}

h3 {

    padding-bottom: 5px;
}

.footer-text {
    width: 250px;
    line-height: 1;
    margin-bottom: 5px;
    /* background-color: red; */
    font-size: 15px;
}

li {
    list-style: none;
    /* font-size: 18px; */
    text-transform: capitalize;
}

/* .community-image {
    background-color: #000F24;
}
 */

@media(max-width:480px) {
    body {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    h1 {
        /* color: #000F24; */
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;

    }

    p {
        font-size: 10px;
        line-height: 16px;
    }

    h2 {
        /* background-color: red; */
        font-family: 'Clash Display', sans-serif;
        font-weight: 600;
        line-height: 10px;
        font-size: 10px;
        text-transform: capitalize;
    }


    .main-container {

        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .hero-image {
        width: 100%;
        height: auto;
    }

    .hero-header {
        text-align: center;
        width: 389.7px;
        height: 134px;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        /* background-color: #fff; */
    }

    .nav-icon {
        display: block;
        background-color: #283b8b;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out
    }

    .nav-item {
        color: #004DB3;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }
    .nav-btn{
        background-color: #004DB3;
        color: #FFF;
        height: 50px;
        font-size: 12px;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: #393E46;
        z-index: 9999;
        border-bottom: 1px solid #222028;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        box-shadow: 0 1px 5px #000;
        /* padding-left: 30px;
        padding-right: 40px;  */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-logo {
        font-size: 20px;
    }

    .nav-menu {
        background-color: #FFF;
        position: absolute;
        top: 90px;
        left: 0;
        /* right: 0; */
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 4px;
        overflow-y: hidden;
        transition: all 0.3s ease-in-out 0s;
        padding: 0px;
        flex: 2 1 0%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        gap: 0.5rem;

        height: 55vh;
        padding: 1.5rem 0px;
        opacity: 1;
    }

    .close-nav {
        display: none;
    }



    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: red; */
        width: 100%;
        height: 100vh;

    }


    .inner-container {
        width: 100%;
        height: 100vh;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* gap: 10px;  */
        /* margin-top: 50px; */
    }

    .hero-text {

        width: 297.58px;
        height: 30px;
        font-size: 8px;
        /* background-color: yellow; */
        text-align: center;
        line-height: 15px;
        font-style: normal;

    }

    .hero-textbox {
        width: 100%;
        height: 50%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    .hero-btn {
        width: 314px;
        /* background-color: darkred; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .hero-imagebox {
        width: 85%;
        height: auto;
        margin: 0%;
        /* background-color: #000; */
    }

    .hero-image {
        width: 100%;
        height: auto;
    }


    .hero-footer {
        /* width: 428px;
        height: 80px; */
        width: 100%;
        height: 80px;

        background-color: #CCDBF0;
    }

    .sub-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* gap: 12.66px; */
        /* background-color: orangered; */
        width: 331px;
        /* height: 16px; */

    }

    .group-icon {
        width: 50px;
        height: auto;
        color: #000F24;

    }

    .aboutPage {
        height: 80vh;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        /* background-color: greenyellow; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        /* gap: 24px; */
    }


    .first-half-container {
        /* background-color: goldenrod; */
        width: 90%;
        height: 40vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;



    }

    .enrolled-student {
        max-width: 90%;
        height: auto;
    }

    .second-half-container {
        width: 100%;
        height: 40%;
        /* background-color: pink; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .class {
        background-color: blue;
        width: 125.59px;
        height: 33.59px;
        border-radius: 4px;
        gap: 8px;
    }

    .class-layout {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 15px;
        /* background-color: red; */
        width: 442px;
        height: 66px;
    }

    .class-section {
        /* background-color: chartreuse; */
        width: 90%;
        height: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 0px; */
        gap: 0px;
    }

    .about-template {
        width: 100%;
        height: 100vh;
        /* background-color: purple; */
        text-align: center;

    }

    .inner-template {
        width: 100%;
        height: 100vh;
        /* background-color: #000; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    .firstContent {
        /* background-color: #004DB3; */
        width: 90%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px;

    }

    .secondContent {
        /* background-color: darkolivegreen; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 5px;
        width: 396px;
        height: 399px;
    }


    .card-body {

        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 180px;
        height: 189px;
        border-radius: 4px;
        padding: 10px;

    }

    .flex-card {
        gap: 5px;
    }

    /* .text{
        font-size: 8px;
        
    } */

    .courses-section {

        /* background-color: coral; */
        gap: 5px;
        width: 100%;
        height: 125vh;
        padding-right: 0;
        padding-left: 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 4px;
        width: 355px;
        height: 82px;
    }

    .courses-subheader {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 279px;
        height: 19px;
        font-weight: 900;

    }

    .courses-body {

        /* background: darkkhaki; */
        border-radius: 4px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .courses-template {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        justify-content: center;
        background-color: honeydew;
        padding-left: 0px;
        padding-right: 0px;

    }

    .profileImg {
        /* background-color: red; */
        width: 80px;
    }





    .courseImg {

        width: 100%;
        height: auto;


    }

    .courses-info {
        width: 100%;
        height: 120px;
        /* background-color: chartreuse; */

    }

    .course-btn {
        background-color: #004db3;
        height: 50px;
        width: 50%;
        font-size: 16px;
        border-radius: 6px;

    }

    .testimony-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* background-color: aqua;  */
        gap: 8px;
        padding: 0;
        width: 90%;
        height: 45%;

    }


    .testimonal-body {
        width: 100vw;
        height: 20vh;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 8px;
        padding: 0%;
        margin: 0%;

    }


    .testimonal-info {
        width: 100%;
        height: 10vh;
        padding-left: 20px;
    }

    .testimonal-text {
        background-color: #fff;
        width: 92%;
        height: 50%;
        /* padding-left: 5px;  */
        font-size: 8px;
        line-height: 1.5;

    }

    .testimonal-section {

        /* background: chartreuse; */
        width: 100%;
        height: 50vh;

        /* gap: 20px; */
    }

    .question-container {

        width: 100%;
        height: 60vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* gap:50px;  */
        /* padding: 0px; */
    }

    .question-description {
        width: 90%;
        /* background-color: cornflowerblue; */
        left: 345px;
        top: 295px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .question-item {
        width: 100%;
        /* background-color: red; */
        gap: 8px;
    }

    .question-part {
        font-size: 18px;
        font-weight: 900;
    }

    .footer-container {
        width: 428px;
        height: 80vh;
        /* width: 100%;
        height: 70vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000F24;
    }

    .footer-bottom {
        width: 90%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        /* background-color: red; */
        color: #FFF;
        line-height: 1.7;
    }



    .footer-segment {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        /* gap: 16px; */
    }

    .community-container {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        /* justify-content: center;  */
        gap: 20px;
        align-items: center;
        /* background-color: #004DB3; */
        color: #fff;
        padding-top: 5%;
    }

    .first-community-layout {
        width: 90%;
        font-size: 50%;
        /* background-color: coral;  */


    }

    .community-btn {
        background-color: #fff;
        width: 50%;
        height: 50px;
        border-radius: 4px;
        border: none;
        color: #004DB3;
        font-size: 1rem;
        font-weight: 550;
        overflow: hidden;
        cursor: pointer;
    }

    .community-image {
        max-width: 100%;
        height: auto;
    }

}